@import "../utils/mixins.scss";
@import "../utils/variables.scss";
@import "../utils/colors.scss";

.tuto {
  counter-reset: steps;
  margin-bottom: 2rem;
  & ol {
    display: flex;
    gap: 2rem;
    @media (max-width:$breakpoint) {
      flex-direction: column;
    }
  }
  & li {
    position: relative;
    display: flex;
    align-items: center;
    transition: transform 200ms;
    &::before {
      content: counter(steps);
      counter-increment: steps;
      color: white;
      background-color: $primaire;
      width: 2 * $tuto-bullet-heigth;
      height: 2 * $tuto-bullet-heigth;
      display: grid;
      place-items: center;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -1 * $tuto-bullet-heigth;
      transform: translateY(-50%);
    }
    list-style-type: none;
    background-color: $lightergrey;
    padding: 1.5rem 2rem;
    flex-grow: 1;
    border-radius: 1rem;
    margin-right: 2rem;
    @include box-shadow;
    cursor: pointer;
    &:hover {
      @include zoom;
      background-color: lighten($primaire, 35%);
      i::before {
        color:$primaire;
      }
    }
    & i.fas {
      margin-right: 1rem;
      color: $lightgrey;
      font-size: 1.5rem;
    }
  }
}
.tuto h2 {
  @media (max-width:2620px) {
    padding: 1rem 1rem;
    margin-top: 2rem;
  }
}
