.fas {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 200ms;
        @include linear-gradient.gradient;
      }
      &:hover .fas {
        opacity: 1;
        transform: translateY(-50%) scale(1.2);
      }